.createGroup {
  position: relative;
}
.createGroup h3 {
  margin: .5em 0;
}

.createGroup table {
  width: 100%;
}

.createGroup table th:first-child,
.createGroup table td:first-child {
  width: 120px;
  text-align: left;
}

.summaryColumn {
  width: 60px;
}

.createGroup table td {
  text-align: center;
  padding: 5px 10px;
}

.groupSize {
  margin-bottom: 40px;
}

.groupSize input {
  margin-left: 20px;
  width: 4em;
}

.groupSize select {
  margin-left: 20px;
}

.countField {
  width: 4em;
}

.contraintSet {
  margin-bottom: 40px;
}


