@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~react-virtualized/styles.css";
@import "~plottable/plottable.css";

body {
  position: relative;
  color: #1e1e1e;
  background-color: white;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

.container {
  width: 90%;
}

.actionBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.actionBar button {
  margin-left: 20px;
}

i.action {
  cursor: pointer;
  opacity: 0.6;
}

i.action:not(:first-child) {
  margin-left: 5px;
}

i.action:hover {
  opacity: 1;
}

li.nav-item:not(:last-child) {
  margin-right: 10px;
}
